{# The .slick-slide / .slick-current class names are kept because style.css scales the off-centre banners off them. #}
{% set settings = shop_theme_config() %}
{% set language = frappe.lang or "en" %}
<div class="main-slider-wrapper">
	<div class="slider-inner">
		<div class="row">
			<div class="col-lg-6">
				<div class="slider-main" data-summer-carousel="hero-main" data-carousel-sync="hero-thumbs">
					<div class="swiper-wrapper">
						{% for slide in settings.hero_slides %}
						<div class="slick-slide">
							<div class="content-info">
								<h1 class="title">{{ slide.heading }}</h1>
								{% if slide.subheading %}
								<div class="swiper-meta-items">
									<div class="meta-content">
										<span class="price-num d-inline-block">{{ slide.subheading }}</span>
									</div>
								</div>
								{% endif %}
								{% if slide.cta_label %}
								<div class="content-btn m-b30">
									<a href="{{ slide.url or '/' ~ language ~ '/products' }}" class="btn btn-secondary me-xl-3 me-2 btnhover20">{{ slide.cta_label }}</a>
								</div>
								{% endif %}
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="slider-thumbs" data-summer-carousel="hero-thumbs">
					<div class="swiper-wrapper">
						{% for slide in settings.hero_slides %}
						<div class="slick-slide">
							<div class="banner-media" data-name="{{ slide.thumbnail_label }}">
								<div class="img-preview">
									<img src="{{ slide.image }}" alt="{{ slide.thumbnail_label or slide.heading }}">
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{# slick injected this arrow at runtime and style.css still positions it off .slider-inner, so it is authored here. #}
		<button type="button" class="slick-arrow slick-next" data-carousel-next="hero-thumbs" aria-label="{{ _("Next slide") }}"></button>
		{% if settings.hero_caption_label or settings.hero_caption %}
		<div class="bottom-content align-items-end wow fadeInUp" data-wow-delay="1.0s">
			<svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" viewBox="0 0 76 76" fill="none">
				<path d="M52.6617 37.6496L58.7381 40.0325L75.0609 49.0874L66.6016 63.7422L49.9214 54.6872L45.1557 50.7554L46.1088 57.1892V75.18H28.952V57.1892L30.0243 50.5171L24.9011 54.6872L8.45924 63.7422L0 49.0874L16.3228 39.7942L22.3991 37.6496L16.3228 35.1475L0 26.2117L8.45924 11.557L25.1394 20.4928L30.0243 24.6629L28.952 18.3482V0H46.1088V18.3482L45.1557 24.4246L49.9214 20.4928L66.6016 11.557L75.0609 26.2117L58.7381 35.3858L52.6617 37.6496Z" fill="black" />
			</svg>
			<div>
				<span class="sub-title">{{ settings.hero_caption_label }}</span>
				<h4 class="title">{{ settings.hero_caption }}</h4>
			</div>
		</div>
		{% endif %}
		<svg class="star-1" xmlns="http://www.w3.org/2000/svg" width="94" height="94" viewBox="0 0 94 94" fill="none">
			<path d="M47 0L53.8701 30.4141L80.234 13.766L63.5859 40.1299L94 47L63.5859 53.8701L80.234 80.234L53.8701 63.5859L47 94L40.1299 63.5859L13.766 80.234L30.4141 53.8701L0 47L30.4141 40.1299L13.766 13.766L40.1299 30.4141L47 0Z" fill="#FEEB9D" />
		</svg>
		<svg class="star-2" xmlns="http://www.w3.org/2000/svg" width="82" height="94" viewBox="0 0 82 94" fill="none">
			<path d="M41 0L45.277 39.592L81.7032 23.5L49.554 47L81.7032 70.5L45.277 54.408L41 94L36.723 54.408L0.296806 70.5L32.446 47L0.296806 23.5L36.723 39.592L41 0Z" fill="black" />
		</svg>
	</div>
</div>
