
{% macro shortlist_card(variant, wow_delay, show_sale_badge=False) %}
{% set product_url = "/" ~ (frappe.lang or "en") ~ "/products/" ~ variant.route %}
{% set product_name = variant.item_name if frappe.lang == "en" else (variant.custom_item_name_ar or variant.item_name) %}
<div class="shop-card style-3 wow fadeInUp" data-wow-delay="{{ wow_delay }}">
	<div class="dz-media">
		<img src="{{ variant.image or '/assets/commera/images/1.jpg' }}" alt="{{ product_name }}" loading="lazy">
	</div>
	<div class="dz-content">
		<div>
			{% if variant.discount_percent %}<span class="sale-title">{{ _("up to {0}% off").format(variant.discount_percent | round | int) }}</span>{% endif %}
			<h6 class="title"><a href="{{ product_url }}">{{ product_name }}</a></h6>
		</div>
		<h6 class="price">
			{{ get_currency_symbol() }}{{ "%.2f" | format(variant.sale_price or 0) }}
			{% if variant.discount_percent %}<del>{{ get_currency_symbol() }}{{ "%.2f" | format(variant.default_price or 0) }}</del>{% endif %}
		</h6>
	</div>
	{% if show_sale_badge and variant.discount_percent %}
	<span class="sale-badge">{{ variant.discount_percent | round | int }}%<br>{{ _("Sale") }} <img src="{{ shop_theme_asset_url('images/star.png') }}" alt="" loading="lazy"></span>
	{% endif %}
</div>
{% endmacro %}

<section class="content-inner overflow-hidden p-b0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 m-b30">
				<div class="about-box style-1 wow fadeInUp clearfix h-100" data-wow-delay="0.2s">
					<div class="dz-media h-100">
						<img src="{{ shop_theme_asset_url('images/about/pic2.jpg') }}" alt="" loading="lazy">
						<div class="media-contant">
							<h2 class="title">{{ _("Recent Additions to Your Shortlist") }}</h2>
							<a href="/{{ frappe.lang or 'en' }}/products" class="btn btn-white">{{ _("Shop Now") }}</a>
						</div>
						<svg class="title animation-text" viewBox="0 0 1320 300" aria-hidden="true">
							<text x="0" y="220">{{ _("Shortlist") }}</text>
						</svg>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 align-self-center">
				<div class="row card-container">
					{% for product in new_arrivals[:4] %}
					<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
						{{ shortlist_card(product, "%.1fs" | format(0.2 + 0.2 * loop.index), loop.index == 2) }}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
